*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@200;300;400;600;700&display=swap');
body#LoginBody{
    background: url(assets/smart.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
body{
    font-family: Arial, sans-serif;
}
div.loginheader{
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #fff;
    margin-bottom: 50px;

}
div.loginheader h1 {
    font-size: 100px;
    font-weight: bold;
    color: white;
    padding: 0px;
    margin: 0px;
}
div.loginheader p {
    font-size: 50px;
    font-weight: bold;
    color: black; 
    margin: 0px;
    border-bottom: 5px solid brown;
}
div.loginheader p{
    color: black;
    font-size: 50px;
    margin: 0px;
    display: inline-block;
    text-transform: uppercase;

}
div.loginheader p:after{
    content: '';
    display: block;
    height: 5px;
    background-color: brown;
    width: 80%;
    margin: 0 auto;

}
div.LoginBody form{
    margin: 0 auto;
    width: 500px;
    background: rgba(0, 0, 0, .8);
    padding: 60px;
    border: 2px solid #fff;
    border-radius: 8px;
}
.loginInputContainer{
    margin-top: 20px;

}
.loginInputContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    

}
.loginInputContainer input{
    height: 20px;
    width: 100%;
    padding: 18px;
    border: 2px solid brown;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    color: black;

}
.loginButtonContainer{
    margin-top: 40px;
    text-align: center;
}
.loginButtonContainer button{
    width: 100%;
    height: 45px;
    background: brown;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.header{
    width: 100%;
    background: brown;
    padding: 10px 0px;
    text-align: right;
}
.header a{
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
   
}
.header a:hover{
    border-radius: 5px;
    border: 2px solid #fff;

}
.banner{
    background: url(assets/smart.jpeg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center;
    height: 70vh;
}
.homepageContainer{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    

}
.bannerHeader h1{
    font-size: 100px;
    color: brown;
    line-height: 100%;

}
.bannerHeader p{
    font-size: 30px;
    color: brown;
    text-transform: uppercase;
    margin-top: -10px;
    line-height: 100%;
}
.bannerTagline{
    margin-top: 20px;
    font-size: 25px;
    color: #fff;

}
.bannerIcons{
    margin-top: 150px;
}
.bannerIcons a{
    font-size: 25px;
    margin-left: 18px;
    padding: 10px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 90%;
    width: 50px;
    height:50px;
    display: inline-block;
    text-align: center;
}
.bannerIcons a:first-child{
    margin-left: 0px;

}
.bannerIcons a:hover{
    color: brown;
    background: #fff;
    font-size: 25px;
    transition: .5s all;
}
.homepageFeatures{
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
}
.homepageFeature{
    padding: 10px 20px;
    text-align: center;
    width: 33.3%;
}
.homepageFeature:hover{
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    transition: 0.5s all;
}
.homepageFeature span.featureIcon{
    height: 80px;
    width: 80px;
    display: inline-block;
    font-size: 50px;
    background: brown;
    color: #fff;
    padding-top: 4px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 8px;
}
.homepageFeature h3.featureTitle{
    margin-bottom: 20px;
    font-size: 25px;
}
.homepageFeature p.featureDescription{
    color: black;
    font-size: 15px;
}
.homepageNotified{
    background: #e3e3e3;
    padding: 100px 50px;
}
.homepageNotifiedContainer{
    display: flex;
    flex-direction: row;
}
.emailForm h3{
    font-size: 25px;
}
.emailForm{
    width: auto;
}
.homepageNotified h3{
    margin-bottom: 20px;
}
.homepageNotified p{
    color: black;
    line-height: 150%;
    margin-bottom: 30px;
}
.formContainer{
    width: 80%;
    position: relative;
    
}
.formContainer input{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    
}
.formContainer input:focus{
    outline: none;
}
.formContainer button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 22px;
    padding: 0px 10px;
    background: brown;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.formContainer button:hover{
    background: #333;

}
.socials{
    text-align: center;
    padding: 70px 0 40px 0px;
    color: black;

}
h3.socialHeader{
    font-size: 35px;
    margin-bottom: 20px;
    font-style: bold;
}
.socialText{
    margin-top: 15px;
    margin-bottom: 15px;
}
.socialIconsContainer a{
    font-size: 30px;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    padding-top: 5px;
    background: brown;
    color: #fff;
    margin-left: 20px;
}
.socialIconsContainer a:hover{
    background: #333;
    transition: 0.3s all;
}
.footer{
   background: #e3e3e3;
   padding-top: 50px;
   padding-bottom: 50px;
   text-align: center;
}
.footer a{
    color: black;
    margin-left: 30px;
    text-decoration: none;

}
.footer a:hover{
    font-weight: bold;
    color: brown;
    transition: 0.5s all;
}

#dashboardMainContainer{
    display: flex;
    flex-direction: row;

}
.dashboard_sidebar{
    width: 20%;
    background: #323232;
    height: 100vh;
}
.dashboard_content_container{
    width: 70%;
    background: #f4f6f9;
}
h3.dashboard_logo{
    color: brown;
    font-size: 80px;
    text-align: center;
   
}
.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
}
.dashboard_sidebar_user img{
    width: 80px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid brown;
    margin-right: 5px;
    vertical-align: middle;
}
.dashboard_sidebar_user span{
    top: 20%;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    
}
ul.dashboard_menu_list {
    padding: 10px;
    margin-top: 20px;
}
ul.dashboard_menu_list li{
    padding: 20px 0px;
    font-size: 18px;
    text-transform: uppercase;

}
ul.dashboard_menu_list li a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;

}
ul.dashboard_menu_list li.menuActive{
    background-color: brown;
    color: #fff;
}
ul.dashboard_menu_list li:hover{
    background-color: brown;
    color: #fff;
    transition: 0.3s all;
}
.dashboard_topNav{
    background: #fff;
    padding: 20px;
    margin-right: -120px;


}
.dashboard_topNav a{
    color: #848383;
    font-size: 20px;
    text-decoration: none;
}
a#logoutBtn{
    float: right;
}
.dashboard_topNav a:hover{
    color: #000;
    transition: 0.3s all;
}
.dashboard_content{
    padding: 30px 10px 10px 0px;
}
.dashboard_content_main{
    background: #fff;
    min-height: 800px;
    height: 80%;
}